$w:20px;
$w_2:300;
$primary:rgba(#0f95b0, .7);
$theme:( "primary":#0f95b0, "success":#1ba784, "error":#ec2b24, "warning":#fecc11) !default;
$tips:("primary":#909399, "info":#666);
$merge:map-merge($theme, $tips);
$new_map:map-remove($merge, info);
.primary_color {
    $bol: 3>5;
    @if not $bol {
        content: "并且";
    }
    font-weight:if(1+2==4, 700, $w_2);
}

.title {
    font-size: 26px;
    color: $primary;
}

.bold {
    font-weight: 700
}

.a_title {
    @extend .title;
}