$kdy-bg-color:#f8f8f8;
$primary:#3a7afe !default;
$success:#00c48f !default;
$danger:#f44336 !default;
$warning:#ff9f00 !default;
$border-color:#e4e7ed !default;
$border-types: solid,
dotted,
dashed,
double;
$direction-arr: 'top',
'right',
'bottom',
'left';
// 切割第一个字符
@function splitFirstOneStr($value) {
    @return str-slice($value, 0, 1)
}

$theme:( "primary":$primary, "primary-dark":rgba($primary, .8), "primary-disabled":rgba($primary, .6), "primary-light":rgba($primary, .4), "success":$success, "danger":$danger, "warning":$warning, );
// 获取主题色
@function getTheme($key) {
    @return map-get($theme, $key)
}

// 创建边框样式
@mixin createBorder($dir:all, $width, $style, $color) {
    @if( $dir !=all) {
        border-#{$dir}: $width+px $style $color;
    }
    @else {
        border: $width+px $style $color;
    }
}

@each $dir in $direction-arr {
    @for $width from 1 through 10 {
        @each $style in $border-types {
            .border_#{splitFirstOneStr($dir)}_#{$style}_#{$width} {
                @include createBorder($dir, $width, $style, $border-color)
            }
            .border_#{$style}_#{$width} {
                @include createBorder(all, $width, $style, $border-color)
            }
            @each $key in map-keys($theme) {
                .#{$key}_border_#{splitFirstOneStr($dir)}_#{$style}_#{$width} {
                    @include createBorder($dir, $width, $style, getTheme($key))
                }
                .#{$key}_border_#{$style}_#{$width} {
                    @include createBorder(all, $width, $style, getTheme($key))
                }
                .text-#{$key} {
                    color: getTheme($key)
                }
            }
        }
    }
}

input {
    outline: none;
}

// 超出隐藏
.overflow_h {
    overflow: hidden;
}

body {
    background-color: $kdy-bg-color;
}

.fit_cover {
    object-fit: cover;
}

.x_slide {
    overflow: hidden;
    /* 比里层元素高16px 为了隐藏滚动条*/
    overflow-x: scroll;
    /* 定义超出此盒子滚动 */
    overflow-y: hidden;
    &::-webkit-scrollbar {
        width: 0;
    }
    -ms-overflow-style: none;
    overflow: -moz-scrollbars-none;
}

// 文本超出隐藏
@for $i from 2 through 5 {
    .truncate_#{$i} {
        display: -webkit-box;
        /**对象作为伸缩盒子模型展示**/
        -webkit-box-orient: vertical;
        /**设置或检索伸缩盒子对象的子元素的排列方式**/
        -webkit-line-clamp: #{$i};
        /**显示的行数**/
        overflow: hidden;
        /**隐藏超出的内容**/
    }
}